{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo</title>
    <link rel="stylesheet" href="{% static 'css/logo.css' %}">

</head>
<body>
    <div class="container">
        {% for market in market %}

        <div class="fw-1" style="color: #7c0f35;"><h1>Marketing</h1></div>
        <div><img src="{{ market.file }}" width="50%" class="img-fluid"></div>
        <form>
            <label for="description">Description:</label>
            <input type="text" name="textbox" value="{{ market.description}}" id="textbox"><br><br>
            <button type="button">Feedback</button><br><br>
            <button type="button">Chat</button>
            <button type="button">Hire</button>

        </form>
        {% endfor %}
    </div>
</body>
</html>